<h1>Login</h1>
{% if error %}
    <p style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}
<form method="post">
    <label>Email: <input type="email" name="_username" value="{{ last_username }}"></label><br>
    <label>Password: <input type="password" name="_password"></label><br>
    <button type="submit">Entrar</button>
</form>
