<h1>Registro</h1>
<form method="post">
    <label>Email: <input type="email" name="email" required></label><br>
    <label>Password: <input type="password" name="password" required></label><br>
    <label>Rol:
        <select name="role">
            <option value="ROLE_PATIENT">Paciente</option>
            <option value="ROLE_THERAPIST">Terapeuta</option>
        </select>
    </label><br>
    <button type="submit">Registrar</button>
</form>
